body {
    background-color:darkslateblue;
}

/*Includes canvas and table*/
.center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 33px;
}

h1 {
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
}

table {
    border-collapse: collapse; /*Collapses the table border into one border*/
    border-style: hidden; /*Hides outer borders on the table*/
}

td {
    cursor: pointer;
    border: 4px solid rgba(72, 220, 46, 0.886);
    padding: 0;
    width: 200px;
    height: 200px;
    filter: contrast(3);
}

canvas {
    position: absolute; /*Sets position of the canvas to the top left corner of the container*/
    z-index: 10; /*Places canvas over the top of the table*/
    pointer-events: none; /*Makes the canvas invisible*/
}